* {
    margin: 0;
    padding: 0;
}


#top-text{
   font: 5em;
   width: 60vw;
   padding: 5vw;
   border: 5pt solid blue;
   background-color: yellow;
}

#top-image{
    width: 25vw;
    height: 25vh;
}

#bottom-text{
    margin: 5px;

}

h1 {
    font: 5rem;
}

div {
    font: 60%;
}





